percolation/.idea/*
percolation/.lift/*
queues/.idea/*
queues/.lift/*
queues/logo.png
.settings/*
.vscode/*
bin/*

percolation/eagle25.png
percolation/greeting57.png
percolation/heart25.png
percolation/input1.png
percolation/input1-no.png
percolation/input2.png
percolation/input2-no.png
percolation/input3.png
percolation/input4.png
percolation/input5.png
percolation/input6.png
percolation/input7.png
percolation/input8.png
percolation/input8-dups.png
percolation/input8-no.png
percolation/input10.png
percolation/input10-no.png
percolation/input20.png
percolation/java60.png
percolation/jerry47.png
percolation/logo.png
percolation/princeton96.png
percolation/sedgewick60.png
percolation/snake13.png
percolation/snake101.png
percolation/wayne98.png